/* # DejaVu */

/* ## Serif */

@font-face {
    font-family: 'DejaVuSerif';
    src: url('../ttf/DejaVuSerif.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSerif';
    src: url('../ttf/DejaVuSerif-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'DejaVuSerif';
    src: url('../ttf/DejaVuSerif-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSerif';
    src: url('../ttf/DejaVuSerif-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* ## Sans */

@font-face {
    font-family: 'DejaVuSans';
    src: url('../ttf/DejaVuSans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSans';
    src: url('../ttf/DejaVuSans-Oblique.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'DejaVuSans';
    src: url('../ttf/DejaVuSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSans';
    src: url('../ttf/DejaVuSans-BoldOblique.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* ## Mono */

@font-face {
    font-family: 'DejaVuSansMono';
    src: url('../ttf/DejaVuSansMono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSansMono';
    src: url('../ttf/DejaVuSansMono-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'DejaVuSansMono';
    src: url('../ttf/DejaVuSansMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSansMono';
    src: url('../ttf/DejaVuSansMono-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

html,div,.sans{
    font-family: 'DejaVuSans';
}

p,.serif {
    font-family: 'DejaVuSerif';
}

pre,code,textarea,.mono {
    font-family: 'DejaVuSansMono';
}

/* 100     Thin (Hairline)           */
/* 200     Extra Light (Ultra Light) */
/* 300     Light                     */
/* 400     Normal                    */
/* 500     Medium                    */
/* 600     Semi Bold (Demi Bold)     */
/* 700     Bold                      */
/* 800     Extra Bold (Ultra Bold)   */
/* 900     Black (Heavy)             */
/* 1000    Extra Black (Ultra Heavy) */
