            * {
                margin: 0;
                padding: 0;
                transform-origin: top left;
            }

            html{
                font-size: 1.5rem;
            }

            html, body {
                width: 100%;
                height: 100%;
                overflow: hidden;
                cursor: crosshair;
            }

            body > * {
                position: absolute;
            }

            nav {
                z-index: 1000;
                position: fixed;
                bottom: 0;
                right: 0;
            }

            nav input {
                display: block;
            }

            nav #labels a {
                font-size: 10pt;
                display: block;
            }
            
            svg,#svg{
                overflow: visible;
                position: absolute;
            }

            #cache{
                z-index: 999;
                position : fixed;
                width : 100vw;
                height: 100vh;
                background-color: rgba(0,0,0,0.125)
            }

            .mouse  {
                z-index: 999;
                position: absolute;
                width: 1000px;
                height: 2rem;
                background-color: pink;
                border-radius: 50%;
                margin-left: -5px;
                margin-top: -5px;
                width:0px;
                height:0px;
                overflow:visible;
            }

            .pseudo{
                opacity : 0.5;
                font-size:10pt;
            }

            .text_preview{
            }

            #attributes * {
                font-family : "DejaVuSansMono";
            }

            #attributes{
                padding : 5pt;
                text-align: right; 
                font-size:10pt;
                right:0;
                z-index : 999;
            }

            #tips_section{
                margin-top : 5pt;
                right : 0;
                float : right;
                background-color:white;
                border : solid 1px;
                padding : 5pt;
            }
            #attributes pre{
                margin-top : 5pt;
                padding : 5pt 5pt 0pt 0pt;
                border-top : solid 1px;
                text-align : left;
            }
           
            #tips_button{
                color : blue;
                text-decoration : underline;
                cursor : pointer;
                display : inline-block;
                font-family : "DejaVuSansMono";
            }

            .item{
                overflow : visible;
                display: block;
                transform-origin: top left;
                /* transition: transform 0.1s; */
            }
            .ctx{
                padding : 0.5rem;
                background-color: white;
                border : solid;
            }
            #svg_preview{
                z-index : 999;
            }
            #preview{
                z-index : 999;
                pointer-events: none;
                top: 0;
                left: 0;
            }
            
            #editor{
                pointer-events: none;
                padding: 0.5rem;
                box-sizing: border-box;
                width: 100vw;
                height: 100vh;
                border:none;
                font-size: 1rem;
                background-color: transparent;
                z-index: 999;
            }
            
            .mouse  {
                position: absolute;
                width: 6px;
                height: 6px;
                background-color: grey;
                border-radius: 50%;
                margin-left: -3px;
                margin-top: -3px;
            }

            .screen {
                position: absolute;
            }

            .item{
                overflow : visible;
                display: block;
                transform-origin: top left;
                /* transition: transform 0.1s; */
            }
            #svg_preview{
                z-index : 999;
            }
            #preview{
                z-index : 999;
                pointer-events: none;
                top: 0;
                left: 0;
            }
            
            #editor{
                pointer-events: none;
                padding: 0.5rem;
                box-sizing: border-box;
                width: 100vw;
                height: 100vh;
                border:none;
                font-size: 1rem;
                background-color: transparent;
                z-index: 999;
            }
            
            .mouse  {
                position: absolute;
                width: 6px;
                height: 6px;
                background-color: grey;
                border-radius: 50%;
                margin-left: -3px;
                margin-top: -3px;
            }

            .screen {
                position: absolute;
            }
